@model List<EmployeeBusinessLayer.Models.EmployeeDetails>
@using GridMvc.Html

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        function displayModal(messageText) {
            $("#message-popup .modal-title").html("Information");
            $("#message-popup .modal-body").html(messageText);
            $("#message-popup").modal("show");
        }

        @if (Model == null || Model.Count == 0)
        {
            <text>
                $(document).ready(function() {
                    displayModal("No Data Available, Please Add Employee Details");
                });
            </text>
        }
    </script>
}

<h5 class="text-info">Employee Details</h5>

@if (Model != null && Model.Count > 0)
{
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.EmployeeCode).Titled("Employee Code").Sortable(true);
        columns.Add(c => c.EmployeeName).Titled("Name").Sortable(true);
        columns.Add(c => c.MailID).Titled("Email ID").Sortable(true);
        columns.Add(c => c.ContactNumber).Titled("Contact Number").Sortable(true);
        columns.Add(c => c.Gender).Titled("Gender").Sortable(true);
    }).WithPaging(5)
}

@Html.Partial("_MessageHandler")
