<div id="message-popup" class="modal fade">
    <div class="modal-dialog modal-dialog-brg-colors">
        <div class="modal-content modal-content-brg-colors">
            <div class="modal-header modal-header-brg-colors">
                <h4 class="modal-title modal-title-brg-colors">@Html.Raw(Model)</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(Model)
            </div>
        </div>
    </div>
</div>