<script>
    function redirectToRoot() {
        window.location.href = '/';
    }
</script>

@*partial view for message*@

<div id="message-popup" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-dialog-brg-colors">
        <div class="modal-content modal-content-brg-colors">
            <div class="modal-header modal-header-brg-colors">
                <h4 class="modal-title title-font-adj">@Html.Raw(Model)</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(Model)
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary" onclick="redirectToRoot()">Close</button>
            </div>
        </div>
    </div>
</div>
