/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Message pop-up colors*/

.modal-header-brg-colors {
    background-color: #c96666;
}


.modal-title-brg-colors {
    color: green;
}

.title-font-adj {
    color: #147a04;
    font-style: italic;
}

/*Dropdown height/widht adjustment*/
.dropdown-custom {
    width: 300px; 
    height: 35px;
}

/*My Branding*/

.zoom-link {
    position: relative;
    color: #8b1ec9;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.zoom-link:hover {
     transform: scale(1.2);
}

/*required (*)*/
.red-asterisk {
    color: red;
}